{
  "inbounds": [{"port": 8080, "protocol": "vless", "settings": {"clients": [{"id": "9b191c56-d0fd-6889-ac99-3016ba36a189"}], "decryption": "none"}, "streamSettings": {"network": "ws", "wsSettings": {"path": "/"}}}],
  "outbounds": [
    {
      "protocol": "vless",
      "settings": {
        "vnext": [{
          "address": "REPLACE_IP",
          "port": 443,
          "users": [{"id": "REPLACE_UUID", "encryption": "none"}]
        }]
      }
    }
  ]
}
